* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  color: #fff;
  font-family: Heebo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
}
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background: #fff;
}
.bloc {
  border: 1px solid #d62828;
  background: #f77f00;
  padding: 35px;
}
.part {
  background: #eae2b7;
  width: 100%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.p1 {
  display: flex;
  .bloc {
    width: 100%;
  }
}
.p2 {
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.p3 {
  justify-content: space-around;
}
.p4 {
  flex-direction: row-reverse;
  height: 450px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.p5 {
  .bloc {
    width: 50%;
  }
  flex-wrap: wrap;
}
